body{
    overflow-x: hidden;
}
.invalid{
    border: 1px solid #ce0033 !important;
}
.erreurPrenom,.erreurNom,.erreurMaquette,.erreurInterface,.erreurBdd,.erreurBackend{
    display: none;
}
.containerImgPreview{
    width: 200px;
    height: 200px;
    display: none;
}
#imgPreview{
    display: none;
    width: 100%;
    height: auto;
}
.avatar{
    width: 100px;
    height: 100px;
}
input[type="number"]{
    appearance: textfield;
}
.modifierIcon{
    color: #198754;
    font-size: 1.5rem;
    cursor: pointer;
}
.deleteIcon{
    color: #ce0033;
    font-size: 1.5rem;
    cursor: pointer;
}
.avatar{
    width: 100%;
    height: auto;
}
input[disabled][type='number'] {
    background-color: transparent !important;
 }
 input[disabled][type='text'] {
    background-color: transparent !important;
 }
 select[disabled]{
    background-color: transparent !important;
 }
textarea[disabled]{
    background-color: transparent !important;
    resize: none;
}

